[Unit]
Description=Optimism Full Node
After=network.target docker.service
Requires=docker.service

[Service]
ExecStart=/usr/bin/docker compose -f /opt/sovereign-rpc/docker-compose.yml up optimism
Restart=always
User=root

[Install]
WantedBy=multi-user.target